<div class="row-fluid">
    <div class="well">
        <h2>{{ link }}</h2>
        <h3><strong><a href="{{ link.url }}" target="{{ link.target }}">{{ link.title | raw }}</a></strong></h3>

        {{ link.description | raw }}
    </div>
</div>